* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Impact, sans-serif;
}

body {
  background: #a8a0e259;
  height: 100vh;
  width: 100%;
}

.body-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

button {
  background-color: #d45069;
  border: 4px solid #5f0b3d;
  width: 150px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(23, 23, 27);
}

button:hover {
  background-color: #5f0b3d;
  border: 4px solid #d45069;
}

.hero-text {
  margin: 24px;
  font-size: 75px;
  color: rgb(70, 13, 9);
}

.hero-5 {
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 40px;
  color: #af3636;
  margin: 24px;
}

.hero-p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: #86273c;
  margin: 24px;
}

.hero {
  font-size: 48px;
  font-weight: 500;
}

.score-container {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 32px auto;
  gap: 16px;
}

h3 {
  font-size: 24px;
}

.box {
  border: 5px solid #5f0b3d;
  width: 160px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-box {
  border: 5px solid #5f0b3d;
  width: 200px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;;
}